.todolist {
    background-color: #FFF;
    padding: 20px 20px 10px 20px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px lightgray;
}

.todo-footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

.todo-footer {
    background-color: #F4FCE8;
    margin: 0 -20px -10px -20px;
    padding: 10px 20px;
}

.task ul{
    margin-top: 10px;
    margin-left: 3px;
}

.task ul li{
    border-bottom: 1px solid #ececec;
}

.task ul li label {
    padding-top: 15px;
    padding-bottom: 10px;
}

.task ul li label:hover {
    cursor: pointer;
}

#done-items label {
    color:  lightgray;
    text-decoration: line-through;
}

#checkAll {
    margin-top: 10px;
}